body, html{
  margin:0;
  padding-left:15px;
  padding-right:15px;
}
.tab-pane{
  padding:15px;
}
.iframe{
  width:100%;
  height:100%;
}
.chartContainer{
  height: 300px;
  width: 100%;
}
.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.25%;
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

select {
  float: right;
  width: 150px !important;
}


label{
  padding-top: 6px;
  color: dodgerblue;
}

.chordChartContainer{
  margin-top: -15%;
  margin-bottom: -10%;
  height: 100%;
  width: 100%;
}

.interactiveContainer {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.chartBorder {
  border: 2px solid dodgerblue;
}

.topRowContainer {
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  color:indianred;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.chartContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.25%;
}

.responsive-chart {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.chordChartLegendContainer {
  margin-left: -5%; /* to avoid cut off on "Surprised" */
}
